[user]
	name = Long Nguyen
	email = longnewint@gmail.com
[alias]
  which = !git branch | grep -i
  summary = !git log \
    --all \
    --since='10am yesterday' \
    --format=%s
  graph = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%ae>%Creset" --abbrev-commit --all
  sclone = clone --depth=1
  s = status -s
  ss = status
  ci = commit
  co = checkout
  rh = reset HEAD
  a = add
  aa = add -A
  pr = pull --rebase
  br = branch
  bra = branch -a
  amend = commit -a --amend --no-edit
  cim = commit -m
  ciam = commit -am
  ps = push origin main
[init]
  defaultBranch = main
[column]
  ui = auto
[branch]
  sort = -commiterdate
[tag]
  sort = version:refname
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  #prune = true
  #pruneTags = true
  #all = true

# Maybe
[help]
  autocorrect = prompt
[commit]
  verbose = true
[rerere]
  #enabled = true
  #autoupdate = true
